@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root
{
    --primary-color: #F87171 ;
    --secondary-color: white ;
}

body
{
    background-image: url("/images/birthday.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */
    margin-top: 10rem;
    font-family: 'Roboto', sans-serif;
    /* margin: auto; */
    /* background-size: rem 80rem; */
    
}

h1
{
    /* text-align: center; */
    margin: 1rem 20rem;
}

.container
{
    width: 50%;
    margin: auto;
}

input,
label
{
    display: block;
}

input
{
    padding: 1rem 1rem;
    /* /* margin-right: 0.5rem;
    margin-left: 0.5rem; */
    margin-bottom: 0.5rem;
    width: 50%;
    font-size: x-large;
}

label
{
    font-weight: bold;
}

#check-number
{

    display: block;
    margin-top: 1rem;
    margin: 1rem 10rem;
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.4rem;
    

}

#output-box
{
    font-size: x-large;
    background-color: #5BC3EB;
    width: 55%
}

