@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root
{
    --primary-color: #F87171 ;
    --secondary-color: white ;
}

body
{
    background-image: url("/images/birthday.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    /* margin: auto; */
    /* background-size: rem 80rem; */
    
}

h1
{
    /* text-align: center; */
    /* margin: 7rem 20rem; */
    margin-top: 5rem;
    margin-left: 23rem;
}

.container
{
    width: 50%;
    margin: 1rem 25rem;
}

input,
label
{
    display: block;
}

input
{
    padding: 1rem 1rem;
    /* /* margin-right: 0.5rem;
    margin-left: 0.5rem; */
    margin-bottom: 0.5rem;
    width: 50%;
    font-size: x-large;
}

label
{
    font-weight: bold;
}

#check-number
{

    display: block;
    margin-top: 1rem;
    margin: 1rem 10rem;
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.4rem;
    

}

#output-box
{
    font-size: x-large;
    background-color: #5BC3EB;
    width: 55%
}


.privacy {
    display: block;
    width: 26%;
    /* margin:0 auto; */
    margin: 1rem 25rem;
    border: 1px solid black;
    background: chocolate;
    padding: 1rem 1rem;
    color: black;
    margin-bottom: 1rem;
    border-radius: 1rem;
   
  }

  #close {
    background: black;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    color: white;
  }

#lucky
{
    width: 26%;
    margin: 1rem 25rem;
}

#unlucky
{
    width: 26%;
    margin-left: 25rem;
}

.unlucky-div,
.lucky-div {
  display: none;
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}

.footer
{
   position: fixed;
   background-color: var(--primary-color);
   bottom: 0%;
   width: 100%;
   padding: 10px 2px;
   text-align: center;
   color: black;
   /* border-bottom-left-radius: 1rem; */

}

.footer .link
{
    color: white;
}
.footer .footer-header
{
    font-weight:bold ;
    font-size: large;
}